.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: rgb(216, 16, 16) !important;
}

body {
  background-color: transparent !important;
}
